<footer>
	<div class="grid-container">
		<div class="visual">
			<div class="logo">
				<a class="light" href="/"><img class="logo" src="/static/image/archive3-logo-white.png" alt="Archive3 Logo"></a>
			</div>
		</div>	
		<div class="text">
			<p>
				Archive3 is an internet archival service that anchors all screenshots to public blockchains using <a class="light" href="https://www.rigidbit.com/" target="_blank">RigidBit</a> and <a class="light" href="https://www.ethereum.org/" target="_blank">Ethereum</a>.
			</p>
			<p>
				Archive3 is a completely free service. We do not share or monetize user data.
			</p>
			<p>
				You can support Archive3 by sharing us with your friends and on social media!
			</p>
		</div>
		<div class="links">
			<ul>
				<li><a class="light" href="/contact">Contact Us</a></li>
				<li><a class="light" href="/faq">FAQ</a></li>
				<li><a class="light" href="/recent">Recent Activity</a></li>
				<li><a class="light" href="/submit">Submit URL</a></li>
				<li><a class="light" href="/privacy-policy">Privacy Policy</a></li>
				<li><a class="light" href="/terms-of-service">Terms of Service</a></li>
			</ul>
			<a class="twitter-follow-button" href="https://twitter.com/archive3web?ref_src=twsrc%5Etfw" data-show-count="false">Follow @archive3web</a>
		</div>
	</div>
	<div class="copyright">
		Copyright <i class="far fa-copyright"></i> 2019<script>new Date().getFullYear()>2019&&document.write("-"+new Date().getFullYear());</script> Archive3.com. All rights reserved.
		<a href="/urls">&nbsp;</a>
	</div>
</footer>
