{% extends "base.html" %}

{% block body %}
{% include "header.html" %}
{% if data.pending is defined and data.pending|length > 0 %}
<div class="main-content-container manage">
	<form id="form" actions="/manage" method="post">
		<input id="accepted" type="hidden" name="accepted" value="">
		<input id="rejected" type="hidden" name="rejected" value="">
	</form>
	<div class="tools">
		<button class="approve-reject" type="button">Approve/Reject All</button>
	</div>
	<div class="sites-container">
		{% for data in data.pending %}
		<div class="site">
			<img class="preview" src="/preview?id={{ data.id }}" data-id="{{ data.id }}" alt="Preview Image" title="{{ data.id }} {{ data.ip }} {{ data.url }}">
			<a class="link" href="{{ data.url }}" target="_blank">{{ data.url }}</a>
		</div>
		{% endfor %}
	</div>
	<div class="tools">
		<button class="approve-reject" type="button">Approve/Reject All</button>
	</div>
	<script>
		let accepted = [];
		let rejected = [];
		$(".preview").on("click", function(e)
		{
			const $this = $(e.currentTarget);
			const id = $this.data("id");

			if(!rejected.includes(id))
			{
				rejected.push(id);
				$this.addClass("rejected");
				$this.parent().addClass("rejected");
			}
			else
			{
				const index = rejected.indexOf(id);
				if( index !== -1)
				{
					rejected.splice(index, 1);
					$this.removeClass("rejected");
					$this.parent().removeClass("rejected");
				}
			}
		});
		$(".approve-reject").on("click", function(e)
		{
			accepted = [];
			$(".preview").each(function()
			{
				const $this = $(this);
				const id = $this.data("id");
				if(!rejected.includes(id))
					accepted.push(id);
			});
			$("#accepted").val(JSON.stringify(accepted));
			$("#rejected").val(JSON.stringify(rejected));
			$("#form").submit();
		});
	</script>
</div>
{% else %}
<div class="main-content-container manage">
	<div class="notice">
		No pending submissions!
	</div>
</div>
{% endif %}
{% include "footer.html" %}
{% endblock %}
