{% extends "base.html" %}

{% block body %}
{% include "header.html" %}
{% if data.url is defined %}
<div class="main-content-container manage">
	<form id="form" actions="/manage" method="post">
		<input id="action" type="hidden" name="action" value="">
		<input id="id" type="hidden" name="id" value="{{ data.id }}">
		<button id="reject" type="button">Reject</button>
		<button id="approve" type="button">Approve</button>
		<input id="url" type="text" name="url" value="{{ data.url }}">
		<div id="tools">
			<i class="fas fa-info-circle" title="{{ data.id }} {{ data.ip }} {{ data.url }}"></i>
			<a href="#reload"><i class="fas fa-redo-alt"></i></a>
			<a href="{{ data.url }}" target="_blank"><i class="fas fa-link"></i></a>
			<a href="#+www">+W</a>
			<a href="#-www">-W</a>
			<a href="#+s">+S</a>
			<a href="#-s">-S</a>
			<a href="#+/">+/</a>
			<a href="#-/">-/</a>
		</div>
	</form>
	<img id="preview" src="/preview?id={{ data.id }}" alt="Preview Image">
	<script>
		$("#reject").on("click", (e)=>
		{
			$("#action").val("reject");
			$("#form").submit();
		});
		$("#approve").on("click", (e)=>
		{
			$("#action").val("approve");
			$("#form").submit();
		});
		function updateUrl()
		{
			$("#preview").attr("src", "");
			setTimeout(function()
			{
				$("#preview").attr("src", "/preview?url=" + $("#url").val());
			}, 1);
		}
		$("#url").on("change, keyup", (e)=>{ updateUrl(); });
		$("a[href='#+www']").on("click", (e)=>{ e.preventDefault(); $("#url").val($("#url").val().replace("//", "//www.")); updateUrl(); });
		$("a[href='#-www']").on("click", (e)=>{ e.preventDefault(); $("#url").val($("#url").val().replace("//www.", "//")); updateUrl(); });
		$("a[href='#+s']").on("click", (e)=>{ e.preventDefault(); $("#url").val($("#url").val().replace("http://", "https://")); updateUrl(); });
		$("a[href='#-s']").on("click", (e)=>{ e.preventDefault(); $("#url").val($("#url").val().replace("https://", "http://")); updateUrl(); });
		$("a[href='#+/']").on("click", (e)=>{ e.preventDefault(); $("#url").val($("#url").val() + "/"); updateUrl(); });
		$("a[href='#-/']").on("click", (e)=>{ e.preventDefault(); $("#url").val($("#url").val().replace(/\/$/, "")); updateUrl(); });
		$("a[href='#reload']").on("click", (e)=>{ e.preventDefault(); updateUrl(); });

		let url = "{{ data.url }}";
		url = url.replace("//www.", "//");
		url = url.replace("http://", "https://");
		if(/\.[a-z]{1,3}$/.test(url)) { url += "/"; }
		$("#url").val(url);
	</script>
</div>
{% else %}
<div class="main-content-container manage">
	<div class="notice">
		No pending submissions!
	</div>
</div>
{% endif %}
{% include "footer.html" %}
{% endblock %}
