@import "./variables.scss";

.main-content-container.index
{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	padding: 0 $padding-default $spacing-lead-tail-thin $padding-default;

	.search-container
	{
		background: $background-color-box;
		border-radius: 50px;
		box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
		margin: 200px auto 0 auto;
		max-width: 600px;
		padding: $padding-default 50px $padding-default 20px;
		position: relative;

		input::placeholder
		{
			color: #aaaaaa;
		}

		input[type=text]:focus
		{
			outline: none;
		}

		input
		{
			background: none;
			border: none;
			border-radius: 0;
			// border-bottom: 1px solid $border-color-default;
		}

		button
		{
			background: $color-grey;
			border: none;
			border-radius: 0 50px 50px 0;
			position: absolute;
			height: 100%;
			width: 40px;
			right: -1px;
			top: 0;
		}
	}
}
