@import "./variables.scss";

.main-content-container.manage
{
	padding: $padding-default;
	text-align: center;

	#url
	{
		width: 500px;
	}

	#form
	{
		margin-bottom: $margin-default;
	}

	.tools
	{
		padding: $padding-default;
	}

	.sites-container
	{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: $margin-default;
		justify-items: center;
		margin: 0 auto;
		width: 1398px;

		.site
		{
			background: #eeeeee;
			border: 1px solid $border-color-default;
			font-size: 12px;
			padding: $padding-default;
			text-align: center;
			width: 342px;

			&.rejected
			{
				background: #ffeeee;
			}

			.preview
			{
				cursor: pointer;
				display: block;
				width: 320px;

				&.rejected
				{
					filter: grayscale(100%);
					opacity: 0.3;
				}
			}

			.link
			{
				display: block;
				overflow: hidden;
				text-overflow: ellipsis;
				width: 100%;
			}
		}
	}

	#preview
	{
		border: 1px solid $border-color-default;
		display: block;
		height: 720px;
		margin: 0 auto;
		object-fit: cover;
		object-position: top center;
		width: 1280px;
	}

	.notice
	{
		font-size: 16px;
		font-weight: 600;
		margin-top: $spacing-lead-tail-default;
		margin-bottom: $spacing-lead-tail-default;
		text-align: center;
	}
}
