@import "./normalize.scss";

@import "./variables.scss"; // Must be imported first.
@import "./mixins.scss"; // Must be imported after variables.

@import "./base.scss";
@import "./buried.scss";
@import "./error.scss";
@import "./faq.scss";
@import "./form.scss";
@import "./contact.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./index.scss";
@import "./manage.scss";
@import "./privacy_policy.scss";
@import "./recent.scss";
@import "./search.scss";
@import "./submit.scss";
@import "./terms_of_service.scss";
@import "./stats.scss";
@import "./urls.scss";
@import "./view.scss";

.main-content-container
{
	background: $background-color-default;
	min-width: 375px;
	overflow: auto; // Prevent margin collapse.
}

.center
{
	text-align: center;
}

.clickable
{
	cursor: pointer;
}

.no-margin
{
	margin: 0
}
